In [62]:
## import libraries
import pandas as pd
from sklearn import linear_model
from word2number import w2n

In [63]:
## import the dataset
df = pd.read_csv("hiring.csv")

In [64]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [65]:
temp = df["experience"].isna().value_counts()

In [69]:
## fill experience nan
df["experience"] = df["experience"].fillna("zero")

In [70]:
def to_num(str):
    return(w2n.word_to_num(str))

In [71]:
## change words to numbers
df["experience"] = df["experience"].apply(to_num)

In [72]:
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [73]:
df["test_score(out of 10)"] = df["test_score(out of 10)"].fillna(df["test_score(out of 10)"].median())

In [74]:
temp[1]

2

In [75]:
## function to find out no. of nan values:

def find_nan(df):
    for col in df.columns:
        try:
            print("For columns : ",col)
            temp_series = df[col].isna().value_counts()
            print(col," has",temp_series[1],"missing values")
        except:
            print(col," has no missing values")

In [76]:
find_nan(df)

For columns :  experience
experience  has no missing values
For columns :  test_score(out of 10)
test_score(out of 10)  has no missing values
For columns :  interview_score(out of 10)
interview_score(out of 10)  has no missing values
For columns :  salary($)
salary($)  has no missing values

In [77]:
df.describe()

,experience,test_score(out of 10),interview_score(out of 10),salary($)
count,8.00000,8.000000,8.000000,8.00000
mean,4.75000,7.875000,7.875000,63000.00000
std,4.26782,1.246423,1.642081,11501.55269
min,0.00000,6.000000,6.000000,45000.00000
25%,1.50000,7.000000,6.750000,57500.00000
50%,4.00000,8.000000,7.500000,63500.00000
75%,7.75000,8.250000,9.250000,70500.00000
max,11.00000,10.000000,10.000000,80000.00000

In [79]:
## regression
reg = linear_model.LinearRegression()
reg.fit(df.drop('salary($)',axis='columns'),df["salary($)"])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [80]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])